body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
  color: white;
  position: relative;
  font-family: "Helvetica", Arial, serif;
  font-size: 1.05rem;
}

.laptop header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}
.laptop header nav {
  width: 450px;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.laptop .home {
  display: flex;
  justify-content: center;
}
.laptop .home .left {
  position: relative;
  width: 300px;
  display: flex;
  align-items: center;
  overflow: visible;
}
.laptop .home .left svg {
  overflow: visible;
  margin-top: 50px;
}
.laptop .home .left img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.laptop .home .right {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.laptop .home .right h1 {
  font-size: 3.7rem;
}
.laptop .home .right h2 {
  font-size: 2.3rem;
  text-shadow: rgba(255, 255, 255, 0.5333333333) 2px 2px 5px;
}
.laptop .home .right h2, .laptop .home .right p {
  color: rgba(255, 255, 255, 0.5921568627);
  margin: 0;
}
.laptop .home .right h2 {
  margin-bottom: 10px;
}
.laptop .home .right .animationDiv {
  margin: 50px auto 0;
  width: 430px;
  height: 240px;
}
.laptop .home .right .animationDiv svg {
  overflow: visible;
}
.laptop .home .right .buttonContainer {
  display: flex;
  justify-content: center;
  transition: all 1s ease-in-out;
}
.laptop .home .right .buttonContainer .BGbuttonDiv {
  margin: 20px;
  position: relative;
}
.laptop .home .right .buttonContainer .BGbuttonDiv svg {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.laptop .about {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}
.laptop .about .introduction {
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 40px;
  border-radius: 10px;
  width: 95%;
}
.laptop .about .introduction hr {
  width: 95%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6666666667);
}
.laptop .about .introduction p {
  width: 55%;
  margin: 50px auto;
}
.laptop .about .introduction h2 {
  margin-bottom: 20px;
  background-color: rgba(243, 109, 0, 0.726);
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 20px;
  border-radius: 7px;
}
.laptop .about .introduction .skills {
  margin: 0 auto;
  padding-left: 30px;
  width: -moz-fit-content;
  width: fit-content;
}
.laptop .about .introduction .skills h3 {
  margin-bottom: 0;
  margin-left: 20px;
}
.laptop .about .introduction .skills .skillsFlex {
  display: flex;
  flex-wrap: wrap;
}
.laptop .about .introduction .skills .skillsFlex .iconContainer {
  position: relative;
  margin: 15px 0;
}
.laptop .about .introduction .skills .skillsFlex .iconContainer .iconName {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  color: #000000;
  transition: all 0.3s ease-in-out;
  font-size: 0.8rem;
}
.laptop .about .introduction .skills .skillsFlex .iconContainer svg {
  width: 50px;
  margin: 15px 15px 0;
}
.laptop .about .introduction .skills .skillsFlex .iconFlex {
  position: relative;
  border: rgba(255, 255, 255, 0) 2px solid;
  border-collapse: collapse;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 5px;
  transition: all 0.3s ease-in-out;
}
.laptop .about .introduction .skills .skillsFlex .iconFlex .title {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
  white-space: nowrap;
  background-color: #ffffff;
  color: #000000;
  opacity: 0;
  transition: inherit;
  border-radius: inherit;
}
.laptop .about .introduction .skills .skillsFlex .iconFlex:hover {
  border: rgba(255, 255, 255, 0.6666666667) 2px solid;
}
.laptop .about .introduction .skills .skillsFlex .iconFlex:hover .title {
  opacity: 1;
}
.laptop .about .introduction .experience {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.laptop .about .introduction .experience .education ul {
  display: flex;
}
.laptop .about .introduction .experience .education ul li {
  margin: 0 20px;
}
.laptop .about .introduction .experience .title {
  background-color: rgba(255, 255, 255, 0.8666666667);
  border-radius: 7px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 10px;
  color: #000000;
}
.laptop .about .introduction .experience .place {
  color: rgba(255, 255, 255, 0.8);
}
.laptop .about .introduction .experience ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}
.laptop .about .introduction .experience ul li {
  margin-bottom: 10px;
}
.laptop .contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.laptop .contact h1 {
  font-size: 3.2rem;
  text-shadow: rgba(255, 255, 255, 0.6588235294) 2px 2px 5px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.laptop .contact p {
  text-align: center;
  margin-top: 10px;
}
.laptop .contact hr {
  width: 80%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 50px;
}
.laptop .contact .contactFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.laptop .contact .contactFlex .contactFlexLeft {
  width: 25%;
  margin-right: 7%;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.laptop .contact .contactFlex .contactFlexLeft a {
  margin: 0 30px;
  text-decoration: none;
}
.laptop .contact .contactFlex .contactFlexLeft a:hover div {
  color: #ffffff;
}
.laptop .contact .contactFlex .contactFlexLeft a:hover svg {
  fill: #ffffff;
}
.laptop .contact .contactFlex .contactFlexLeft a div, .laptop .contact .contactFlex .contactFlexLeft a svg {
  transition: all 0.3s ease-in-out;
}
.laptop .contact .contactFlex .contactFlexLeft a div {
  color: rgba(255, 255, 255, 0.6666666667);
  text-align: center;
  margin-bottom: 10px;
}
.laptop .contact .contactFlex .contactFlexLeft a svg {
  fill: rgba(255, 255, 255, 0.4509803922);
  display: block;
}
.laptop .contact .contactFlex .contactFlexRight {
  width: 40%;
  max-width: 400px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.1764705882);
}
.laptop .contact .contactFlex .contactFlexRight form {
  width: 100%;
}
.laptop .contact .contactFlex .contactFlexRight form .formFlex {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.laptop .contact .contactFlex .contactFlexRight form .formFlex input, .laptop .contact .contactFlex .contactFlexRight form .formFlex textarea {
  margin-bottom: 15px;
  font-family: Helvetica, Arial, "Times New Roman", serif;
  min-height: 18px;
  background-color: rgba(255, 255, 255, 0.7333333333);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7333333333);
  color: rgba(255, 255, 255, 0.7333333333);
  font-size: 1rem;
}
.laptop .contact .contactFlex .contactFlexRight form .formFlex input:focus, .laptop .contact .contactFlex .contactFlexRight form .formFlex textarea:focus {
  outline: none;
}
.laptop .contact .contactFlex .contactFlexRight form .formFlex input[type=submit] {
  width: 100px;
  margin: 15px auto;
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.4235294118);
  color: #ffffff;
  cursor: pointer;
}
.laptop .contact .contactFlex .contactFlexRight form .formFlex input[type=submit]:hover {
  background-color: rgba(0, 0, 0, 0.7254901961);
}
.laptop .projects .blurBG {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1;
}
.laptop .projects .detail {
  position: fixed;
  width: 90%;
  padding: 120px 0;
  box-sizing: border-box;
  max-height: 80vh;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(160deg, rgb(172, 206, 223) 0%, white 20%, white 70%, rgb(162, 228, 198));
  z-index: 1;
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgba(97, 97, 97, 0.3);
}
.laptop .projects .detail .x {
  position: absolute;
  top: 10px;
  right: 10px;
}
.laptop .projects .detail .x svg {
  overflow: visible;
  display: block;
}
.laptop .projects .detail .x svg rect, .laptop .projects .detail .x svg path {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
}
.laptop .projects .detail .x svg rect {
  stroke-width: 0;
}
.laptop .projects .detail .x:hover rect {
  fill: #ff5e5e;
}
.laptop .projects .detail .x:hover path {
  stroke: #ffffff;
}
.laptop .projects .detail .altImg {
  width: 35%;
  margin-right: 5%;
}
.laptop .projects .detail video {
  margin-right: 5%;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 3px 3px 10px grey;
}
.laptop .projects .detail .detailright {
  width: 40%;
}
.laptop .projects .detail .detailright .linkFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.laptop .projects .detail .detailright .linkFlex h2 {
  margin: 0;
  padding: 0 20px;
  border-bottom: 2px solid rgb(177, 0, 0);
}
.laptop .projects .detail .detailright .linkFlex .website, .laptop .projects .detail .detailright .linkFlex .github {
  position: relative;
}
.laptop .projects .detail .detailright .linkFlex .website a svg, .laptop .projects .detail .detailright .linkFlex .github a svg {
  height: 30px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 10px;
  display: block;
}
.laptop .projects .detail .detailright .linkFlex .website a svg path, .laptop .projects .detail .detailright .linkFlex .github a svg path {
  fill: black;
}
.laptop .projects .detail .detailright .linkFlex .website a:hover svg path, .laptop .projects .detail .detailright .linkFlex .github a:hover svg path {
  fill: #0000ac;
}
.laptop .projects .detail .detailright .linkFlex .website a:hover + span, .laptop .projects .detail .detailright .linkFlex .github a:hover + span {
  opacity: 1;
}
.laptop .projects .detail .detailright .linkFlex .website span, .laptop .projects .detail .detailright .linkFlex .github span {
  white-space: nowrap;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  color: #0000ac;
}
.laptop .projects .detail .detailright .descriptionP span {
  display: block;
}
.laptop .projects .detail .detailright .featureFlex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.laptop .projects .detail .detailright .featureFlex div {
  padding: 2px 15px;
  margin: 5px;
}
.laptop .projects .detail .detailright .featureFlex .otherFeatures {
  text-decoration: underline;
}
.laptop .projects .detail .detailright .featureFlex div:not(.otherFeatures) {
  position: relative;
  background: linear-gradient(45deg, rgb(67, 67, 255), rgb(110, 196, 199));
  color: #ffffff;
  border-radius: 5px;
}
.laptop .projects .detail .detailright .featureFlex div:not(.otherFeatures)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.5215686275), transparent);
}
.laptop .projects .detail .detailright hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.laptop .projects .detail .detailright .iconFlex {
  display: flex;
  justify-content: center;
}
.laptop .projects .detail .detailright .iconFlex svg {
  width: 40px;
  margin: 0 10px;
  display: block;
}
.laptop .projects .projectsFlex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
}
.laptop .projects .projectsFlex .flexChild {
  margin: 30px 50px;
  position: relative;
  animation-name: comeDown;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
@keyframes comeDown {
  from {
    top: -70px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.laptop .projects .projectsFlex .flexChild div {
  box-shadow: rgba(0, 0, 0, 0.6666666667) 3px 3px 10px;
}
.laptop .projects .projectsFlex .flexChild h3 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto 0;
}
.laptop .projects .projectsFlex .flexChild:nth-child(1) {
  animation-delay: 0.1428571429s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(2) {
  animation-delay: 0.2857142857s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(3) {
  animation-delay: 0.4285714286s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(4) {
  animation-delay: 0.5714285714s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(5) {
  animation-delay: 0.7142857143s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(6) {
  animation-delay: 0.8571428571s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(7) {
  animation-delay: 1s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(8) {
  animation-delay: 1.1428571429s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(9) {
  animation-delay: 1.2857142857s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(10) {
  animation-delay: 1.4285714286s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(11) {
  animation-delay: 1.5714285714s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(12) {
  animation-delay: 1.7142857143s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(13) {
  animation-delay: 1.8571428571s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(14) {
  animation-delay: 2s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(15) {
  animation-delay: 2.1428571429s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(16) {
  animation-delay: 2.2857142857s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(17) {
  animation-delay: 2.4285714286s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(18) {
  animation-delay: 2.5714285714s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(19) {
  animation-delay: 2.7142857143s;
}
.laptop .projects .projectsFlex .flexChild:nth-child(20) {
  animation-delay: 2.8571428571s;
}

.inquiry {
  background: linear-gradient(160deg, rgb(0, 0, 77), rgb(84, 84, 255));
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.inquiry .inquiryFlex {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 7px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 70px;
  background-color: rgba(255, 255, 255, 0.1);
}
.inquiry .inquiryFlex h1 {
  text-align: center;
  text-shadow: navy 4px 4px 3px;
}
.inquiry .inquiryFlex p {
  text-align: center;
  font-size: 1.1em;
}
.inquiry .inquiryFlex a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 5px 15px;
  text-decoration: none;
  background: linear-gradient(45deg, rgb(74, 163, 247), rgb(53, 53, 255));
  outline: 1px solid rgb(173, 173, 173);
  border-radius: 15px;
}
.inquiry .inquiryFlex a:visited {
  color: white;
}/*# sourceMappingURL=laptop.css.map */