.headerForMobile {
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 10px 10%;
    box-sizing: border-box;
    z-index: 2;
    background-color: rgba(125, 179, 179, 0.6);
    backdrop-filter: blur(7px);
    opacity: 0;
}

.mainForMobile {

    position: relative;
    padding: 20px;
    padding-top: 45px;
    min-height: 100vh;
    background: linear-gradient(45deg,yellow,blue);
    &::after {
        content: '';
        padding-top: 45px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(rgba(255, 0, 0, 0.3),rgba(9, 255, 0, 0.3));
    }
    p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    
}

header.forMobile {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 10px 10%;
    padding: 0 15px;
    box-sizing: border-box;
    
    // z-index: 2;
    background-color: rgba(76, 0, 255, 0.6);
    // backdrop-filter: blur(7px);
    // opacity: 0;
}

main.forMobile {
    background-color: rgb(52, 83, 255);
    width: 100vw;
    height: 100vh;
}