.mobile {

    min-height: 100vh;
    
    position: relative;
    padding-top: 20px;
    // backdrop-filter: blur(7px);
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: url(../../public/bg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        // background-color: rgba(0, 255, 255, 0.5);
        // backdrop-filter: blur(3px);
        // z-index: 11;
        z-index: -2;
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        // background: url(../../public/bg.png);
        // background-position: center;
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-attachment: fixed;
        // min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(3px);
        // z-index: 11;
        z-index: -1;
    }

    h1, .beneathH1 {
        text-align: center;
        color: #ffffff;
    }
    h1 {
        margin-bottom: 0;
    }
    .beneathH1 {
        margin-bottom: 20px;
    }

    .selfie {
        // display: flex;
        padding-top: 30px;
        // padding-bottom: 0;
        // margin: 0 auto;

        // width: 60%;


        background: linear-gradient(135deg, rgba(0, 0, 202, 0.582),rgba(35, 35, 43, 0.74));
        // border-top: 5px solid #ffffff;
        // border-bottom: 5px solid #ffffff;

        // border-radius: 10px;

        img {
            display: block;
            width: 40%;
            margin: 0 auto;
        }

        .right {
            color: #ffffff;
        }
    }
    
}