body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    // overflow-y:hidden;
    background-color: rgb(0, 0, 0);
    color: white;
    position: relative;
    font-family: 'Helvetica', Arial, serif;
    font-size: 1.05rem;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    // background-color: rgba(95, 158, 160, 0.5);
    display: flex;
    // justify-content: space-between;
    justify-content: center;
    padding: 10px 10%;
    box-sizing: border-box;
    align-items: center;
    z-index: 2;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(rgb(0, 0, 41),rgb(15, 15, 15));
    .headerRight {
        width: 60%;
        max-width: 600px;

        position: relative;

        .headerRightFlex {
            width: 100%;
            display: flex;
            justify-content: space-around;

            div {
                cursor: pointer;
            }

        }

        // .headerRightChild {
        //     width: 100px;
        //     text-align: center;
        //     border-radius: 5px;
        //     &:hover {
        //         background-color: rgba(255, 255, 255, 0.2);
        //         transition: all ease-out .5s;
        //     }
        // }
    }
}

main {
    // padding-top: 100px;
    
    // position: absolute;
    // top: 0;
    // width: 100%;
    // height: 100vh;
    // background-attachment: fixed;
    h1 {
        width: fit-content;
        margin: 0 auto;
    }
}

.home {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    
    justify-content: center;
    .left {
        width: 30%;
        // position: relative;
        // background-color: white;
        // outline: 1px solid navy;
        .imgHolder {
            position: relative;
            background: linear-gradient(135deg, white 50%, rgb(0, 89, 255) 50%, rgb(0, 89, 255));
            // position: absolute;
            // top: 0;
            // left: 0;
            // display: block;
            margin: 0 auto;
            height: 100vh;
            width: fit-content;
            // min-width: 50px;
            
            img {
                height: 100%;
                display: block;

            }
            // &::before {
            //     content: '';
            //     width: 100%;
            //     height: 100%;
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     background: red;
            //     z-index: -1;
            // }
            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(transparent 50%,#000055);
            }
        }
    }
    .right {
        margin-top: 70px;
        text-align: center;
        // outline: 1px solid navy;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2, p {
            margin: 0;
        }
        h2 {
            margin-top: 10px;
        }
        .animationDiv {
            margin: 50px auto 0;
            width: 430px;
            height: 240px;
            // outline: 1px solid grey;

            
            svg {
                overflow: visible;
            }
            
        }
    } 
}

.about {
    section {
        $textColor: rgba(255, 255, 255, 0.6);
        // font-size: 1.1em;
        display: flex;
        width: fit-content;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 30px auto;
        h3 {
            margin: 20px 0 0;
            width: fit-content;
            padding: 3px 17px;
            border-radius: 5px 5px 0 0;
            background-color: rgba(240, 248, 255, 0.3);
        }

        .aboutLeft {
            width: 40%;
            // margin-top: 100px;
            // margin-right: 0px;

            h3 {
                margin: 50px 0 0;
                
            }

            .setBG, .introduction {
                color: $textColor;
            }

            img {
                width: 50%;
                display: block;
                margin: 50px auto;
                border-radius: 10px;
            }
            .iconFlex {
                display: flex;
                flex-wrap: wrap;
                
                svg {
                    width: 50px;
                    margin: 5px 15px;
                }
            }
        }
        article {
            width: 40%;
            // outline: 1px solid grey;
            
            h4 {
                margin: 5px 0;
                text-decoration: underline;
            }
            // .nameFlex {
            //     display: flex;
            //     align-items: center;
            //     div {
            //         margin-left: 10px;
            //     }
            // }
            .expDiv {
                // margin-left: 20px;
                &>ul {
                    // margin-left: 0;
                    padding: 0;
                    list-style: none;
                    &> li {
                        margin-bottom: 10px;
                        padding: 10px 0;
                        background-color: rgba(240, 248, 255, 0.15);
                        border-radius: 7px;
                        
                        .title, .period, .place {
                            // text-decoration: none;
                            text-align: center;
                        }
                        .title {
                            font-size: 1.1em;
                            // color: rgb(197, 197, 197);
                            // background-color: aliceblue;
                            // width: fit-content;
                            // margin: 0 auto;
                            // padding: 10px;
                            font-weight: bold;
                        }

                        .period {
                            color: $textColor;
                            margin-bottom: 10px;
                        }
                        
                        .place {
                            color: aquamarine;
                            // display: block;
                        }
                        p {
                            margin: 0;
                            padding: 0 10px;
                            color: $textColor;
                        }
                        ul {
                            // margin-left: 0;
                            
                            list-style: circle;
                            li {
                                background-color: transparent;
                                color: $textColor;
                                margin: 10px 0;
                                // padding: 0;
                            }
                        }
                    }
                }
            }
            // .iconFlex {
            //     display: flex;
            //     flex-wrap: wrap;
                
            //     svg {
            //         width: 50px;
            //         margin: 5px 15px;
            //     }
            // }

        }
        .expDiv, .iconContainer, .setBG, .introduction {
            background-color: rgba(255, 255, 255, 0.2);
            padding: 15px;
            outline: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 5px;
        }
    }
}

.contact {
    position: relative;
    p {
        // text-align: center;
        width: fit-content;
        margin: 70px auto 0;
        padding: 5px 30px;
        // font-size: 1.2em;
        // background-color: #404dff;
    }
    hr {
        width: 80%;
        margin-bottom: 50px;
    }
    .contactFlex {
        // height: 100vh;
        display: flex;
        justify-content: center;
        width: 100%;
        // position: absolute;
        // top: 55%;
        // left: 50%;
        // transform: translate(-50%,-50%);

        .contactFlexLeft {
            width: 25%;
            // background-color: cadetblue;
            // outline: 1px solid grey;
            margin-top: -50px;
            margin-right: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
    
                width: 30%;
                margin: 0 20px;
                svg {
                    fill: #ffffff;
                    transition: all .3s ease-in-out;
                    &:hover {
                        fill: #404dff;
                    }
                }
            }
        }

    
        .contactFlexRight {
            
            width: 40%;
            max-width: 400px;
    
            display: flex;
            align-items: center;
            padding: 10px 20px;
            background-color: #ffffff2d;
            // outline: 1px solid grey;
            form {
                width: 100%;
                // position: absolute;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%,-50%);
                // background-color: lightblue;
                // margin: 20px auto;
                h1 {
                    margin-bottom: 20px;
                }
                .formFlex {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    input, textarea {
                        margin-bottom: 15px;
                        font-family: Arial, 'Times New Roman', serif;
                        border-radius: 3px;
                        min-height: 18px;
                        background-color: #ffffffb4;
                        // outline: none;
                        border: none;
                        &:focus {
                            outline: none;
                        }
                    }
        
                    input[type='submit'] {
                        width: 100px;
                        margin: 15px auto;
                        padding: 5px 15px;
                        // background-color: aquamarine;
                        background: linear-gradient(33deg,rgb(193, 237, 252),rgb(124, 159, 233));
                        border: none;
                        border-radius: 7px;
                        &:hover {
                            background: linear-gradient(33deg,rgb(144, 194, 211),rgb(87, 122, 197));
                        }
                    }
                }
            }
        }
    }

}


.works {
    // background: linear-gradient(160deg,rgb(0, 0, 112),rgb(81, 81, 255));
    // background-attachment: fixed;
    
    .worksFlex {
        display: flex;
        justify-content: center;
        // width: 70%;
        // max-width: 850px;
        // outline: 1px solid grey;
        // padding: 0 100px;
        flex-wrap: wrap;
        // margin: 40px auto;
        margin: 50px auto;
        .WFchild {
            width: 45%;
            width: 400px;
            margin: 20px 50px;
            // outline: 1px solid rgb(12, 0, 185);
            // background-color: rgb(177, 177, 177);
            // padding: 20px;
            box-sizing: border-box;
            
            // .imgDiv {
            //     width: 100%;
            //     height: 200px;
            //     display: block;
            //     margin: 0 auto 10px;
            //     background: url('../../../public/smpl.png');
            // }
            
            h2 {
                // color: black;
                width: fit-content;
                margin: 10px auto 0;
            }
            .iconFlex {
                width: 100%;
                display: flex;
                justify-content: center;
                // background-color: rgb(255, 255, 255);
                svg {
                    width: 40px;
                    margin: 0 10px;
                }
            }
            p {
                // color: black;
                color: #ffffff80;
                margin: 10px auto;
                min-height: 60px;
            }
        }
    }
    svg {
        width: 70px;
        margin: 0 10px;
    }
}

.inquiry {
    // main {
        background: linear-gradient(160deg,rgb(0, 0, 77),rgb(84, 84, 255));
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        // background: linear-gradient(160deg,rgb(0, 0, 77),yellow);
    //     display: none;
    //     opacity: 0;
    // }
    .inquiryFlex {

        width: fit-content;
        // outline: 1px solid blue;
        border-radius: 7px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 30px 70px;
        background-color: rgba(255, 255, 255, 0.1);
        h1 {
            
            text-align: center;
            text-shadow: navy 4px 4px 3px;
    
        }
        p {
            text-align: center;
            font-size: 1.1em;
        }
        a {
            display: block;
            width: fit-content;
            margin: 0 auto;
            padding: 5px 15px;
            text-decoration: none;
            background: linear-gradient(45deg, rgb(74, 163, 247),rgb(53, 53, 255));
            outline: 1px solid rgb(173, 173, 173);
            border-radius: 15px;
            &:visited {
                color: white;
            }
        }
    }
}