body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
  color: white;
  position: relative;
  font-family: "Helvetica", Arial, serif;
  font-size: 1.05rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  padding: 10px 10%;
  box-sizing: border-box;
  align-items: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}
header .headerRight {
  width: 60%;
  max-width: 600px;
  position: relative;
}
header .headerRight .headerRightFlex {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
header .headerRight .headerRightFlex div {
  cursor: pointer;
}

main h1 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.home {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  justify-content: space-evenly;
}
.home .left {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  background: linear-gradient(135deg, white 50%, rgb(0, 89, 255) 50%, rgb(0, 89, 255));
}
.home .left img {
  height: 100%;
  display: block;
}
.home .right {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .right h2, .home .right p {
  margin: 0;
}
.home .right h2 {
  margin-bottom: 10px;
}
.home .right .animationDiv {
  margin: 50px auto 0;
  width: 430px;
  height: 240px;
}
.home .right .animationDiv svg {
  overflow: visible;
}

.about {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: space-evenly;
  padding-bottom: 50px;
}
.about h3 {
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 17px;
  border-radius: 5px 5px 0 0;
  background-color: rgba(240, 248, 255, 0.3);
}
.about .aboutLeft {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about .aboutLeft img {
  width: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.about .aboutLeft .leftDiv .iconFlex {
  display: flex;
  flex-wrap: wrap;
}
.about .aboutLeft .leftDiv .iconFlex svg {
  width: 50px;
  margin: 5px 15px;
}
.about .aboutRight {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about .aboutRight .rightDiv h4 {
  margin: 5px 0;
  text-decoration: underline;
}
.about .aboutRight .rightDiv .expDiv {
  margin-bottom: 20px;
}
.about .aboutRight .rightDiv .expDiv > ul {
  padding: 0;
  list-style: none;
}
.about .aboutRight .rightDiv .expDiv > ul > li {
  margin-bottom: 10px;
  padding: 10px 0;
  background-color: rgba(240, 248, 255, 0.3);
  outline: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 7px;
}
.about .aboutRight .rightDiv .expDiv > ul > li .title, .about .aboutRight .rightDiv .expDiv > ul > li .period, .about .aboutRight .rightDiv .expDiv > ul > li .place {
  text-align: center;
}
.about .aboutRight .rightDiv .expDiv > ul > li .title {
  font-size: 1.1em;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.3333333333) 2px 2px 2px;
}
.about .aboutRight .rightDiv .expDiv > ul > li .period {
  margin-bottom: 10px;
}
.about .aboutRight .rightDiv .expDiv > ul > li .place {
  color: rgb(93, 144, 192);
}
.about .expDiv, .about .iconContainer, .about .setBG, .about .introduction {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(115, 31, 0, 0.67) 3px 3px 10px;
  padding: 15px;
  outline: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact p {
  text-align: center;
  margin-top: 10px;
}
.contact hr {
  width: 80%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 50px;
}
.contact .contactFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contactFlex .contactFlexLeft {
  width: 25%;
  margin-right: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contactFlex .contactFlexLeft a {
  margin: 0 30px;
}
.contact .contactFlex .contactFlexLeft a svg {
  fill: rgba(255, 255, 255, 0.4509803922);
  transition: all 0.3s ease-in-out;
  display: block;
}
.contact .contactFlex .contactFlexLeft a svg:hover {
  fill: #ffffff;
}
.contact .contactFlex .contactFlexRight {
  width: 40%;
  max-width: 400px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.1764705882);
}
.contact .contactFlex .contactFlexRight form {
  width: 100%;
}
.contact .contactFlex .contactFlexRight form .formFlex {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact .contactFlex .contactFlexRight form .formFlex input, .contact .contactFlex .contactFlexRight form .formFlex textarea {
  margin-bottom: 15px;
  font-family: Helvetica, Arial, "Times New Roman", serif;
  border-radius: 3px;
  min-height: 18px;
  background-color: rgba(255, 255, 255, 0.7058823529);
  border: none;
}
.contact .contactFlex .contactFlexRight form .formFlex input:focus, .contact .contactFlex .contactFlexRight form .formFlex textarea:focus {
  outline: none;
}
.contact .contactFlex .contactFlexRight form .formFlex input[type=submit] {
  width: 100px;
  margin: 15px auto;
  padding: 5px 15px;
  border: none;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.4235294118);
  color: #ffffff;
  cursor: pointer;
}
.contact .contactFlex .contactFlexRight form .formFlex input[type=submit]:hover {
  background-color: rgba(0, 0, 0, 0.7254901961);
}

.projects .blurBG {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1;
}
.projects .detail {
  position: fixed;
  width: 90%;
  height: 80vh;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(160deg, rgb(172, 206, 223) 0%, white 20%, white 70%, rgb(162, 228, 198));
  z-index: 1;
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgba(97, 97, 97, 0.3);
}
.projects .detail .x {
  position: absolute;
  top: 10px;
  right: 10px;
}
.projects .detail .x svg {
  overflow: visible;
  display: block;
}
.projects .detail .x svg rect, .projects .detail .x svg path {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
}
.projects .detail .x svg rect {
  stroke-width: 0;
}
.projects .detail .x:hover rect {
  fill: #ff5e5e;
}
.projects .detail .x:hover path {
  stroke: #ffffff;
}
.projects .detail .portfolioImg {
  width: 35%;
  margin-right: 30px;
}
.projects .detail video {
  margin-right: 30px;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 3px 3px 10px grey;
}
.projects .detail .detailright {
  width: 40%;
}
.projects .detail .detailright .linkFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.projects .detail .detailright .linkFlex h2 {
  margin: 0;
  padding: 0 20px;
  border-bottom: 2px solid rgb(177, 0, 0);
}
.projects .detail .detailright .linkFlex .demo, .projects .detail .detailright .linkFlex .github {
  position: relative;
}
.projects .detail .detailright .linkFlex .demo a svg, .projects .detail .detailright .linkFlex .github a svg {
  height: 30px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 10px;
  display: block;
}
.projects .detail .detailright .linkFlex .demo a svg path, .projects .detail .detailright .linkFlex .github a svg path {
  fill: black;
}
.projects .detail .detailright .linkFlex .demo a:hover svg path, .projects .detail .detailright .linkFlex .github a:hover svg path {
  fill: #0000ac;
}
.projects .detail .detailright .linkFlex .demo a:hover + span, .projects .detail .detailright .linkFlex .github a:hover + span {
  opacity: 1;
}
.projects .detail .detailright .linkFlex .demo span, .projects .detail .detailright .linkFlex .github span {
  white-space: nowrap;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  color: #0000ac;
}
.projects .detail .detailright hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.projects .detail .detailright .iconFlex {
  display: flex;
  justify-content: center;
}
.projects .detail .detailright .iconFlex svg {
  width: 40px;
  margin: 0 10px;
  display: block;
}
.projects .projectsFlex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
}
.projects .projectsFlex .WFchild {
  margin: 30px 50px;
}
.projects .projectsFlex .WFchild div {
  box-shadow: rgba(0, 0, 0, 0.6666666667) 3px 3px 10px;
}
.projects .projectsFlex .WFchild h3 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto 0;
}

.inquiry {
  background: linear-gradient(160deg, rgb(0, 0, 77), rgb(84, 84, 255));
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.inquiry .inquiryFlex {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 7px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 70px;
  background-color: rgba(255, 255, 255, 0.1);
}
.inquiry .inquiryFlex h1 {
  text-align: center;
  text-shadow: navy 4px 4px 3px;
}
.inquiry .inquiryFlex p {
  text-align: center;
  font-size: 1.1em;
}
.inquiry .inquiryFlex a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 5px 15px;
  text-decoration: none;
  background: linear-gradient(45deg, rgb(74, 163, 247), rgb(53, 53, 255));
  outline: 1px solid rgb(173, 173, 173);
  border-radius: 15px;
}
.inquiry .inquiryFlex a:visited {
  color: white;
}/*# sourceMappingURL=index.css.map */