body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
  color: white;
  position: relative;
  font-family: "Helvetica", Arial, serif;
  font-size: 1.05rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  padding: 10px 10%;
  box-sizing: border-box;
  align-items: center;
  z-index: 2;
  background-color: rgb(0, 0, 0);
  background: linear-gradient(rgb(0, 0, 41), rgb(15, 15, 15));
}
header .headerRight {
  width: 60%;
  max-width: 600px;
  position: relative;
}
header .headerRight .headerRightFlex {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
header .headerRight .headerRightFlex div {
  cursor: pointer;
}

main h1 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.home {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
}
.home .left {
  width: 30%;
}
.home .left .imgHolder {
  position: relative;
  background: linear-gradient(135deg, white 50%, rgb(0, 89, 255) 50%, rgb(0, 89, 255));
  margin: 0 auto;
  height: 100vh;
  width: -moz-fit-content;
  width: fit-content;
}
.home .left .imgHolder img {
  height: 100%;
  display: block;
}
.home .left .imgHolder::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(transparent 50%, #000055);
}
.home .right {
  margin-top: 70px;
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .right h2, .home .right p {
  margin: 0;
}
.home .right h2 {
  margin-top: 10px;
}
.home .right .animationDiv {
  margin: 50px auto 0;
  width: 430px;
  height: 240px;
}
.home .right .animationDiv svg {
  overflow: visible;
}

.about section {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 30px auto;
}
.about section h3 {
  margin: 20px 0 0;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 17px;
  border-radius: 5px 5px 0 0;
  background-color: rgba(240, 248, 255, 0.3);
}
.about section .aboutLeft {
  width: 40%;
}
.about section .aboutLeft h3 {
  margin: 50px 0 0;
}
.about section .aboutLeft .setBG, .about section .aboutLeft .introduction {
  color: rgba(255, 255, 255, 0.6);
}
.about section .aboutLeft img {
  width: 50%;
  display: block;
  margin: 50px auto;
  border-radius: 10px;
}
.about section .aboutLeft .iconFlex {
  display: flex;
  flex-wrap: wrap;
}
.about section .aboutLeft .iconFlex svg {
  width: 50px;
  margin: 5px 15px;
}
.about section article {
  width: 40%;
}
.about section article h4 {
  margin: 5px 0;
  text-decoration: underline;
}
.about section article .expDiv > ul {
  padding: 0;
  list-style: none;
}
.about section article .expDiv > ul > li {
  margin-bottom: 10px;
  padding: 10px 0;
  background-color: rgba(240, 248, 255, 0.15);
  border-radius: 7px;
}
.about section article .expDiv > ul > li .title, .about section article .expDiv > ul > li .period, .about section article .expDiv > ul > li .place {
  text-align: center;
}
.about section article .expDiv > ul > li .title {
  font-size: 1.1em;
  font-weight: bold;
}
.about section article .expDiv > ul > li .period {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}
.about section article .expDiv > ul > li .place {
  color: aquamarine;
}
.about section article .expDiv > ul > li p {
  margin: 0;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.6);
}
.about section article .expDiv > ul > li ul {
  list-style: circle;
}
.about section article .expDiv > ul > li ul li {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  margin: 10px 0;
}
.about section .expDiv, .about section .iconContainer, .about section .setBG, .about section .introduction {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.contact {
  position: relative;
}
.contact p {
  width: -moz-fit-content;
  width: fit-content;
  margin: 70px auto 0;
  padding: 5px 30px;
}
.contact hr {
  width: 80%;
  margin-bottom: 50px;
}
.contact .contactFlex {
  display: flex;
  justify-content: center;
  width: 100%;
}
.contact .contactFlex .contactFlexLeft {
  width: 25%;
  margin-top: -50px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact .contactFlex .contactFlexLeft a {
  width: 30%;
  margin: 0 20px;
}
.contact .contactFlex .contactFlexLeft a svg {
  fill: #ffffff;
  transition: all 0.3s ease-in-out;
}
.contact .contactFlex .contactFlexLeft a svg:hover {
  fill: #404dff;
}
.contact .contactFlex .contactFlexRight {
  width: 40%;
  max-width: 400px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.1764705882);
}
.contact .contactFlex .contactFlexRight form {
  width: 100%;
}
.contact .contactFlex .contactFlexRight form h1 {
  margin-bottom: 20px;
}
.contact .contactFlex .contactFlexRight form .formFlex {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact .contactFlex .contactFlexRight form .formFlex input, .contact .contactFlex .contactFlexRight form .formFlex textarea {
  margin-bottom: 15px;
  font-family: Arial, "Times New Roman", serif;
  border-radius: 3px;
  min-height: 18px;
  background-color: rgba(255, 255, 255, 0.7058823529);
  border: none;
}
.contact .contactFlex .contactFlexRight form .formFlex input:focus, .contact .contactFlex .contactFlexRight form .formFlex textarea:focus {
  outline: none;
}
.contact .contactFlex .contactFlexRight form .formFlex input[type=submit] {
  width: 100px;
  margin: 15px auto;
  padding: 5px 15px;
  background: linear-gradient(33deg, rgb(193, 237, 252), rgb(124, 159, 233));
  border: none;
  border-radius: 7px;
}
.contact .contactFlex .contactFlexRight form .formFlex input[type=submit]:hover {
  background: linear-gradient(33deg, rgb(144, 194, 211), rgb(87, 122, 197));
}

.works .worksFlex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
}
.works .worksFlex .WFchild {
  width: 45%;
  width: 400px;
  margin: 20px 50px;
  box-sizing: border-box;
}
.works .worksFlex .WFchild h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto 0;
}
.works .worksFlex .WFchild .iconFlex {
  width: 100%;
  display: flex;
  justify-content: center;
}
.works .worksFlex .WFchild .iconFlex svg {
  width: 40px;
  margin: 0 10px;
}
.works .worksFlex .WFchild p {
  color: rgba(255, 255, 255, 0.5019607843);
  margin: 10px auto;
  min-height: 60px;
}
.works svg {
  width: 70px;
  margin: 0 10px;
}

.inquiry {
  background: linear-gradient(160deg, rgb(0, 0, 77), rgb(84, 84, 255));
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.inquiry .inquiryFlex {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 7px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 70px;
  background-color: rgba(255, 255, 255, 0.1);
}
.inquiry .inquiryFlex h1 {
  text-align: center;
  text-shadow: navy 4px 4px 3px;
}
.inquiry .inquiryFlex p {
  text-align: center;
  font-size: 1.1em;
}
.inquiry .inquiryFlex a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 5px 15px;
  text-decoration: none;
  background: linear-gradient(45deg, rgb(74, 163, 247), rgb(53, 53, 255));
  outline: 1px solid rgb(173, 173, 173);
  border-radius: 15px;
}
.inquiry .inquiryFlex a:visited {
  color: white;
}/*# sourceMappingURL=index.css.map */